
    <div class="container">
        <div class="position-relative">
        <section class="bg-subscribe-section container text-dark p-3 rounded-3 position-absolute subscribe-section">
            <div class="row d-flex justify-content-between align-items-center"> 
                <div class="col-lg-5">
                    <h5>
                        Subscribe to get notified
                    </h5>
                    <p>Subscribe to our newsletter and be informed about all our new updates.</p>
                </div>
                <div class="col-lg-7 ">
                    <div class="input-group-lg mb-3 position-relative">
                        <input type="email" class="form-control  p-3" placeholder="Enter Your Email"
                            aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append position-absolute footer-btn">
                            <button class="btn-lg btn bg-main-color text-white" type="button">Subscribe </button>
                        </div>
                    </div>
                </div>

            </div>
            

        </section>
    </div>
    </div>
    <footer class="bg-main-color text-white ">
    <div class="container py-5">
        <div class="row justify-content-between py-5"> 
            <div class="col-lg-12 text-center text-lg-start">
                <div class="p-4">
                    <img src="./assets/logo (1).png" alt="StudentGator Logo" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center align-items-lg-start justify-content-center mb-3 mb-lg-0">
                <div class="d-flex justify-content-center justify-content-lg-start mb-3">
                    <div><i class="fab fa-instagram border TheIcons fa-xl mb-2 me-3"></i></div>
                    <div><i class="fab fa-linkedin-in border TheIcons fa-xl mb-2 me-3"></i></div>
                    <div><i class="fab fa-youtube border TheIcons fa-xl mb-2 me-3"></i></div>
                    <div><i class="fab fa-facebook-f border TheIcons fa-xl mb-2 me-3"></i></div>
                </div>
                <div class="d-flex flex-column text-center text-lg-start">
                    <a href="#" class="text-decoration-none text-reset fw-light mb-2">About Us</a>
                    <a href="#" class="text-decoration-none text-reset fw-light mb-2">Terms & Policy</a>
                    <a href="#" class="text-decoration-none text-reset fw-light mb-2">Privacy</a>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 text-center text-lg-start mb-3 mb-lg-0">
                <div class="d-flex flex-column">
                    <a href="#" class="text-decoration-none text-reset fw-bold mb-2">Services</a>
                    <a href="#" class="text-decoration-none text-reset fw-lighter mb-2">Application</a>
                    <a href="#" class="text-decoration-none text-reset fw-lighter mb-2">Acceptance</a>
                    <a href="#" class="text-decoration-none text-reset fw-lighter mb-2">Visa</a>
                    <a href="#" class="text-decoration-none text-reset fw-lighter mb-2">Housing</a>
                    <a href="#" class="text-decoration-none text-reset fw-lighter mb-2">In France</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 p-3 text-center text-lg-start">
                <div class="d-flex flex-column">
                    <a href="#" class="text-decoration-none text-reset fw-bold mb-2">Contact Us</a>
                    <a href="#" class="text-decoration-none text-reset fw-lighter mb-2"><i
                            class="fa-solid fa-phone me-2"></i>+33 7 66 70 09 73</a>
                    <a href="#" class="text-decoration-none text-reset fw-lighter mb-2"><i
                            class="fa-solid fa-envelope me-2"></i>admin@studentgator.com</a>
                    <a href="#" class="text-decoration-none text-reset fw-lighter mb-2"><i
                            class="fa-solid fa-location-dot me-2"></i>Address: 5 Av. de Celle, 92360 Meudon, France</a>
                </div>
            </div>
        </div>
    </div>
    <div class="border-top">
        <div class="p-2  text-lg-start container">
            <p class="mb-0">© 2024 StudentGator All rights reserved.</p>
        </div>
    </div>
</footer>
