
<nav class="navbar navbar-expand-lg bg-white ">
    <div class="container ">
      <a class="navbar-brand" href="#"><img src="./assets/logo.png" alt="Studentgator logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav  mb-lg-0  m-auto ">
          <li class="nav-item ">
            <a class="nav-link me-4" aria-current="page" routerLink="home" routerLinkActive="active-link ">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link me-4" aria-current="page"routerLink="aboutus" routerLinkActive=" active-link ">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link me-4" aria-current="page" routerLink="programs" routerLinkActive="active-link ">Programs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link me-4" aria-current="page" routerLink="studentnavigator" routerLinkActive=" active-link ">Student Navigator</a>
          </li>
          <li class="nav-item">
            <a class="nav-link me-4" aria-current="page" routerLink="blog" routerLinkActive=" active-link ">Blog</a>
          </li>
    
        </ul>
       
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0 nav-icons">
            <li class="nav-item">
                <i class="fas fa-search me-3"></i>
            </li>
            <li class="nav-item">
                <i class="far fa-heart me-3"></i>
            </li>
            <li class="nav-item">
                <i class="far fa-user me-3"></i>
            </li>
        </ul>
      

      </div>
      
    </div>
  </nav>
