@import '~normalize.css';

.card {
  
    border: none;

}
.card-img i{
position: absolute;
right: 10px;
top: 10px;

}
.logo-image{
    position: absolute;
    bottom: -10%;
    left: 10%;
}

p{
    font-size: 0.8rem; 
}

.bg-pink{
    background-color: #fdd5d5;

}
.bg-babyblue{
    background-color: #e9ebfb;
}



  


  .TheIcons {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    
      &:hover {
          color: #6f77f4;
      }
  }

  .card:hover {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); 
}
@media (max-width: 786px) {
    .col-sm-12 .card {
        margin: auto;
      width: 50%; 
      height: 50%; 
    }
  }